/* Login.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .register-box {
    width: 400px;
    padding: 30px;
    text-align: center;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .fa-slack {
    font-size: 50px;
    padding-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #4a154b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #3b1140;
  }
  
  p {
    font-size: 14px;
    padding: 10px;
  }
  
  p a {
    color: #4a154b;
  }

  a:hover{
    background-color: yellow;
  }
  